body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#hero {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 12%;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
}

#links {
    display: flex;
    gap: 20px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

#hero-main {
    display: flex;
    justify-content: space-between;
    padding: 4% 12%
}

#main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

#second-text {
    color: #E5E7EB;
    font-size: 18px;
}

#hero-image {
    background-color: #515151;
    color: #F9FAF8;
    min-width: 360px;
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    font-weight: 700;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    padding: 2% 0;
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 4% 12%;
    margin-bottom: 4%;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    max-height: auto;
}

.description {
    text-align: center;
}

#quote {
    background-color: #E5E7EB;
    padding: 4% 16%;
}

#text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

#author {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
}

#action {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin: 4% 12%;
    padding: 2% 4%;
}

#action-title {
    font-size: 18px;
    font-weight: 700;
}

footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-text {
    color: #E5E7EB;
    font-size: 18px;
}

#hero-button {
    border-style: none;
    margin-top: 12px;
}

#action-button {
    border-color: #F9FAF8;
}
